@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Helvetica;
  src: url(../assets/fonts/Helvetica.ttc);
}

@font-face {
  font-family: "Bebas Neue";
  src: url(../assets/fonts/BebasNeue-Regular.ttf);
}

body {
  margin: 0;
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131416;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

*,
::before,
::after {
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: rgb(226, 232, 240);
}

.title {
  background: radial-gradient(circle at center center, rgb(0, 0, 0) 50%, transparent 100%);
  background-image: radial-gradient(circle at center center, rgb(0, 0, 0) 50%, transparent 100%);
}

.kaisa-image {
  position: absolute;
  top: 72px;
  width: 780px;
  z-index: 0;
  left: calc(100vw /1.8);
  object-fit: cover;
}

.lucian-image {
  position: absolute;
  top: 72px;
  width: 780px;
  z-index: 0;
  right: calc(100vw /2);
  object-fit: cover;
}

.leading-champions-title {
  padding-top: 20px;
  padding-right: 30px;
  padding-left: 30px;
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: calc(2vw + 3vh + 3vmin);
  line-height: calc(2vw + 3vh + 3vmin);
  letter-spacing: 0.01em;
}

.leading-champions-subtitle {
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: calc(1vw + 2vh + 3vmin);
  line-height: calc(1vw + 2vh + 3vmin);
  letter-spacing: 0.01em;
}

.top-row {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
}

.title-container {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  opacity: 0.99;
}

.title-block:before,
.title-block:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease 250ms;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title-block:before {
  z-index: -100;
  transform: rotate(30deg);
  background-image: url('https://championsqueue.lolesports.com/static/39e5592d0dce1ec215a983add6dcc853/bb7fb/title-pattern.webp');
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAHCAYAAAAIy204AAAACXBIWXMAAAsTAAALEwEAmpwYAAAA30lEQVQoz23RvyvFYRQG8M9AEgZFSjEZzAxIxrsbjcxMd1LIH6CsBmVgNCgDgxhsFsliUQabweT6lXuvvjlyenPq7ZzznKfzPqcH2uldYhyDOE74V8H7wCY6MI+nNLON1wQ0sY9hzOI68HOcRt2K/Igl9GENb9IPrbT0BEOYxm1ge9gqFFdKV9CFDbwrTrnDHAZwUMw+i34H/ajhIZ/cjs119GIZjUSolK+Hgqq/wiRGcfSPIIcYwRRuCsIZJvzEAlbRHbmZeC9hUnW6HuwWpjxj0V90Rp7BfWHMBcZ+md8VKV8ylh6AMgAAAABJRU5ErkJggg==);
  opacity: 0;
}

.title-block:after {
  z-index: -101;
  background-image: url('https://championsqueue.lolesports.com/static/39e5592d0dce1ec215a983add6dcc853/bb7fb/title-pattern.webp');
  opacity: 1;
}

.subtitle {
  text-transform: uppercase;
  color: #facc15;
  font-size: 20px;
}

.highlight {
  text-transform: uppercase;
  color: #facc15;
}

.gradient {
  filter: radial-gradient(52.65% 299.07% at 105.34% 107.69%, rgb(239, 193, 84) 0%, rgb(203, 149, 22) 100%);
  -webkit-text-fill-color: transparent;
}

.first-block {
  background: radial-gradient(52.65% 299.07% at 105.34% 107.69%, rgb(239, 193, 84) 0%, rgb(203, 149, 22) 100%);
  color: rgb(0, 0, 0);
  -webkit-box-flex: 0;
  flex-grow: 0;

}
.intro-animation {
  animation-name: icon-intro-animation;
  animation-duration: 0.9s;
  animation-delay: 0.12s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
}

@keyframes icon-intro-animation {
  0% {
    fill: white;
  }

  100% {
    /*fill: $colors_laser;*/
    fill: #c8aa6e;
  }
}
.box {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
    
  

.first-block .rank {
  text-transform: uppercase;
  font-size: 100px;
  line-height: 100px;
}

.player-name {
  font-size: 28px;
}

.season-points {
  font-size: 20px;
  text-transform: uppercase;
}

.container {
  max-width: 1440px;
  margin: 0px auto;
  position: relative;
}

.bottom-row-player {
  padding: 30px;
  color: white;
  background-color: rgb(0, 0, 0);
}

.bottom-row-player .rank {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
}

.search {
  max-width: 100%;
  display: block;
  position: static;
}

.container-search {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border-bottom: 2px solid #facc15;
  padding-bottom: 5px;
}

.secondary-color {
  color: #facc15
}

.right-side {
  display: flex;
  align-items: flex-end;
}

.header-row {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.container-search input[type="text"] {
  letter-spacing: 0.1em;
  width: 270px;
  padding-left: 10px;
  padding-bottom: 5px;
  font-size: 14px;
  color: white;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

.entry-data {
  width: 100%;
  color: white;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.205);
}

.entry-select {
  width: 100%;
  color: #facc15;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.205);
}

.headers {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  margin-bottom: 15px;
}

.headers .header.sortable {
  cursor: pointer;
}

.headers .header.rank {
  width: 150px;
}

.headers .header:not(.name) {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.headers .header {
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  color: #FFF;
  background-color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 22px;
  padding: 15px 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

.player-row.with-divider {
  margin-bottom: 32px;
}

.divider {
  padding-right: 5px;
  padding-left: 5px;
}

.player-row {
  display: flex;
  -webkit-box-align: stretch;
  align-items: stretch;
  flex-wrap: nowrap;
  position: relative;
}

.player-row.with-divider {
  margin-bottom: 32px;
}

.player-row.with-divider::after {
  content: "";
  position: absolute;
  bottom: -17px;
  height: 2px;
  width: 100%;
  background-color: rgb(203, 149, 22);
}


.headers .header.name {
  -webkit-box-flex: 1;
  flex-grow: 1;
}

.headers .header:not(:first-child) {
  margin-left: 3px;
}

.headers .header.socials {
  width: 300px;
}

.headers .header:not(.name) {
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.headers .header:not(:first-child) {
  margin-left: 3px;
}

.player-row.first .row-cell,
.player-row.first .info-small {
  background-color: rgb(203, 149, 22);
  color: rgb(0, 0, 0);
}

.player-row:nth-child(2n+1) {
  background-color: rgb(0, 0, 0);
}

.player-row .row-cell {
  font-size: 20px;
  padding: 15px 20px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: start;
  justify-content: flex-start;
  position: relative;
}

.headers .header.socials {
  width: 300px;
}

.headers .header:not(:first-child) {
  margin-left: 3px;
}

.table {
  width: 100%;
  height: 100%;
  color: white;
}

.player-row:nth-child(2n) .row-cell:nth-of-type(n+3)::before {
  content: "";
  position: absolute;
  left: -3px;
  top: 0px;
  bottom: 0px;
  width: 3px;
  background-color: rgb(0, 0, 0);
}

.row.left {
  margin-right: 10px;
}

.row .avatar {
  width: 75px;
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.row.left .summoner {
  margin-right: 20px;
}

.row .name {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 19px;
}

.score-container {
  margin: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

.teams {
  display: flex;
  align-items: flex-start;
  padding: 0px 20px;
  margin-bottom: 20px;
  position: relative;
}

.teams .team {
  width: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  flex-shrink: 0;
}

.row .kda.header {
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.row .cs.header {
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.row .gold.header {
  font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

.row {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  border: 1px solid transparent;
}

.row .avatar {
  width: 75px;
  -webkit-box-flex: 0;
  flex-grow: 0;
}

.image {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 10px 8px;
  overflow: hidden;
  position: relative;
  border: 4px solid transparent;
}

.summoner:not(:last-child) {
  margin-bottom: 5px;
}

.summoner {
  width: 16px;
}

.row .name {
  -webkit-box-flex: 1;
  flex-grow: 1;
  font-size: 19px;
}

.team.left {
  align-items: flex-end;
}

.player-avatars {
  display: flex;
  position: relative;
}

.team.left {
  align-items: flex-end;
}

.container-match {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  height: 100%;
}

@media (min-width: 1076px) {
  .lp {
    width: 180px;
  }

  .seasonPoints {
    width: 180px;
  }
}

@media (min-width: 821px) {
  .player-row .row-cell.socials {
    width: 300px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .player-row .row-cell.rank {
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    width: 150px;
  }

  .player-row .row-cell.name {
    -webkit-box-flex: 1;
    flex-grow: 1;
  }

  .player-row .row-cell:nth-of-type(n+3) {
    margin-left: 3px;
  }

  .lp {
    width: 100px;
  }

  .player-row .row-cell:not(.name) {
    -webkit-box-flex: 0;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .player-row .info-small {
    display: none;
  }
}

@media (max-width: 820px) {

  .player-row .row-cell.rank,
  .player-row .row-cell.stat,
  .player-row .row-cell.name {
    display: none;
  }

  .player-row {
    flex-direction: column;
  }

  .player-row .info-small .small-top-row {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding-bottom: 10px;
  }

  .player-row .info-small .small-rank {
    font-family: "Bebas Neue", "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    font-size: 28px;
    line-height: 24px;
    height: 22px;
    margin-right: 15px;
  }

  .player-row .info-small .small-name {
    font-size: 28px;
  }

  .container-search {
    padding-top: 20px;
  }

  .header-row {
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-content: stretch;
    margin-bottom: 30px;
    padding-top: 20px;
  }

  .headers .header:not(.sortable) {
    display: none;
  }

  .player-row .info-small {
    padding: 14px;
  }

  .player-row .row-cell {
    padding: 14px;
  }

  .player-row .row-cell.socials {
    padding-top: 0px;
  }
}